<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container ">
      <a class="navbar-brand m-3  ms-5 text-white fs-2 fw-bolder" routerLink="home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarSupportedContent">
        <ul class="navbar-nav  ms-auto d-flex  mb-2 mb-lg-0  ">
          <li class="nav-item ">
            <a class="nav-link text-white fs-6 fw-bolder" aria-current="page" routerLink="about" routerLinkActive="bg-1abc9c rounded-pill">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-6 fw-bolder"routerLink="portfolio"routerLinkActive="bg-1abc9c rounded-pill">PORTFOLIO</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white fs-6 fw-bolder" routerLink="contact"routerLinkActive="bg-1abc9c rounded-pill">CONTACT</a>
          </li>
         
        
        </ul>
       
      </div>
    </div>
  </nav>
