.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color:none !important;
    outline: 0;
    box-shadow:none !important;
}

label {
    color: #1abc9c;
    margin-bottom: 7px;
    transition: .6s top;
}
.top-40{
    top: 40px !important;
}

.line {
    height: 4px;
    width: 80px;
}
.me-3 {
    margin-right: 1rem !important;
}