<div class="home text-white ">
    <div class="container">
      <div class="text-center">
        <img src="./assets/avataaars.svg" class="w-25" alt="">

        <div class="text-center text-uppercase pt-4" style="color: white;">
            <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line me-3" style="background-color: white;"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3" style="background-color: white;">

                </div>
            </div>
        </div>

        <div class="pb-4">Graphic Artist - Web Designer - Illustrator</div>

      </div>
    </div>
</div>
